
body{
    background-image: url("https://docs.google.com/drawings/d/e/2PACX-1vTdZ_pIg7jOqjl7AU94cL9Ekv0HpyYPXogq9Uj9MlW7w48Q__MYi0Ixqm7dnhgg65kXgVnWNvTMMdKS/pub?w=1392&h=871");
    background-size: cover;
}

header, nav, footer {
    text-align: center;
    color: #00ffff;
}

main {
    text-align: center;
    color: white;
}


.content {
    margin: auto;
    text-align: center;
    color:white;
    font-size: 1.5em;
}


nav a { /*link within 'nav' container*/
    padding: 15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none; /*removes underline*/
    color: white; /*by default, links are blue*/
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.1em;
}

ul {
    text-align: left;
    padding-left: 400px;
}

.hobby {
    color: yellow;
}

.table-row {
    background-color: inherit;
}

td strong {
    color: yellow;
}

.current{
   background:#00ffff;
}

nav a:hover { /*pseudo class*/
    border-bottom:2px blue solid;
    font-size: 2em;
    transition: .9s;  /*transition effect*/
}

#maintext {
    text-align: left;
}


#uglytext {
    font-size: 1.1em;
}

#welcomeText {
   text-align: left;
   font-size: 1.5em;
}

footer {
    clear: left;
    font-size: large;
    color: #00ffff;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 4em;
    margin-bottom: 0px;
}

#brain {
  border-radius: 50%;
}

#thinking {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}